/* 768 - 992 px */
@media screen and (max-width: 992px)
 .logo
		a
			img
				width: 196px
				height: 44px
	.navbar-nav
  //margin: 0 5px

	.widget
		figure
			img
				width: 20px
				height: 20px
		/*Телефон и время работы*/		
		.box-content
			&__phone
				font-weight: 600
				font-size: 18px
			&__description
				font-size: 14px

/* 576 - 768 px */
@media screen and (max-width: 768px)
	.logo
		a
			img
				width: 290px
				height: 65px
	
	/*кнока меню*/
	.navbar-toggler
		margin: 0 auto
 
 