@charset "UTF-8";
/*Specification*/
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p, h1, h2, h3 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

input {
  outline: none;
  border-top: 0;
}

button:focus {
  outline: none;
}

/*Hero section*/
.header {
  background-color: #020202;
}

.logo {
  line-height: 85px;
  padding: 0 0 0 15px;
}

.logo a {
  text-decoration: none;
}

.logo a img {
  width: 290px;
  height: 65px;
}

.container-header {
  max-width: 1200px;
  min-height: 85px;
  padding: 0;
}

/*меню*/
.navbar-nav {
  margin: 0 auto;
  padding-top: 15px;
  /*Активная ссылка-Главная*/
}

.navbar-nav .active {
  /*Остальные ссылки*/
}

.navbar-nav .active a {
  position: relative;
  color: #d3d3d3;
}

.navbar-nav .active a::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
}

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.navbar-nav .nav-link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar-nav .nav-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-nav .nav-link:hover {
  color: #d3d3d3;
}

/*кнока меню*/
.navbar-toggler {
  width: 82px;
  height: 73px;
  position: relative;
  border: 0;
}

.navbar-toggler span, .navbar-toggler span::before, .navbar-toggler span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
}

.navbar-toggler span::before, .navbar-toggler span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-toggler span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar-toggler span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 15px 0 0;
  /*Телефон и время работы*/
}

.widget figure {
  margin-right: 10px;
}

.widget figure img {
  width: 30px;
  height: 30px;
}

.widget .box-content__phone {
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}

.widget .box-content__description {
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  text-align: right;
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
  .logo a img {
    width: 196px;
    height: 44px;
  }
  .widget {
    /*Телефон и время работы*/
  }
  .widget figure img {
    width: 20px;
    height: 20px;
  }
  .widget .box-content__phone {
    font-weight: 600;
    font-size: 16px;
  }
  .widget .box-content__description {
    font-size: 13px;
  }
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
  .logo a img {
    width: 200px;
  }
  /*кнока меню*/
  .widget {
    /*Телефон и время работы*/
  }
  .widget figure img {
    width: 30px;
    height: 30px;
  }
  .widget .box-content__phone {
    font-weight: 600;
    font-size: 18px;
  }
  .widget .box-content__description {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */