@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p, h1, h2, h3 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
}

input {
  outline: none;
  border-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.container-user {
  max-width: 1200px;
  padding: 0;
}

.section-user {
  padding: 50px 0;
}

.btn-user {
  padding: 5px;
  background-color: #990f16;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  border-radius: 0;
  text-align: center;
  cursor: pointer;
}

.btn-user_t {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  color: #fff;
  text-transform: uppercase;
}

.btn-user:hover {
  background-color: #820d13;
}

/*Общий заголовок*/
.common-title {
  font-size: 43px;
  font-weight: 400;
  line-height: 1.1;
}

/*Наклонная полоса*/
.decorative-line {
  color: #990f16;
  font-weight: 900;
  font-size: 120%;
}

/*Переход между секцими*/
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(58%, rgba(2, 2, 2, 0)), to(#020000));
  background-image: linear-gradient(180deg, rgba(2, 2, 2, 0) 58%, #020000 100%);
  -webkit-transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
  transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .common-title {
    font-size: 30px;
  }
}

.header-menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #020202;
  z-index: 99;
  /*выпадающее меню*/
}

.logo {
  line-height: 85px;
}

.logo a {
  text-decoration: none;
}

.logo a img {
  width: 290px;
  height: 65px;
}

/*меню*/
.navbar-nav {
  margin: 0 auto;
  padding-top: 15px;
  /*Активная ссылка-Главная*/
}

.navbar-nav .active {
  /*Остальные ссылки*/
}

.navbar-nav .active a {
  position: relative;
  color: #d3d3d3;
}

.navbar-nav .active a::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
}

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.navbar-nav .nav-link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.navbar-nav .nav-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-nav .nav-link:hover {
  color: #d3d3d3;
}

/*кнока меню*/
.navbar-toggler {
  width: 82px;
  height: 73px;
  position: relative;
  border: 0;
}

.navbar-toggler span, .navbar-toggler span::before, .navbar-toggler span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
}

.navbar-toggler span::before, .navbar-toggler span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-toggler span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar-toggler span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

/*при клике на меню средняя полоса обнуляется*/
.navbar-toggler_active span {
  height: 0;
}

/*при клике на меню верхняя полоса поворачивается*/
.navbar-toggler_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

/*при клике на меню нижняя полоса поворачивается*/
.navbar-toggler_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

/*иконка телефона*/
.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  /*Телефон и время работы*/
}

.widget figure {
  margin-right: 10px;
}

.widget figure img {
  width: 30px;
  height: 30px;
}

.widget .box-content__phone {
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}

.widget .box-content__description {
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  text-align: right;
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
  .logo a img {
    width: 100%;
    height: 44px;
  }
  .nav-link {
    font-size: 13px;
  }
  .widget {
    /*Телефон и время работы*/
  }
  .widget figure img {
    width: 16px;
    height: 16px;
  }
  .widget .box-content__phone {
    font-weight: 600;
    font-size: 10px;
  }
  .widget .box-content__description {
    font-size: 9px;
  }
}

/* 576 - 768 px */
@media screen and (max-width: 767px) {
  /*меню*/
  .navbar-nav {
    /*Активная ссылка-Главная*/
    /*кнока меню*/
  }
  .navbar-nav .active a::after {
    display: none;
  }
  .navbar-toggler {
    width: 82px;
    height: 73px;
    position: relative;
    border: 0;
  }
  .navbar-toggler span, .navbar-toggler span::before, .navbar-toggler span::after {
    background-color: #ff0000;
  }
  /*иконка телефона*/
  .widget {
    /*Телефон и время работы*/
  }
  .widget figure img {
    width: 30px;
    height: 30px;
  }
  .widget .box-content__phone {
    font-weight: 600;
    font-size: 16px;
  }
  .widget .box-content__description {
    font-size: 14px;
  }
  /* 576 - 768 px */
}

@media screen and (max-width: 576px) {
  /*кнока меню*/
  .navbar-toggler {
    left: 25%;
  }
  .widget {
    padding-top: 15px;
  }
  .widget figure img {
    width: 50px;
    height: 50px;
  }
  /*Телефон и время работы*/
  .box-content {
    display: none;
  }
}

.hero {
  position: relative;
  background-size: cover;
  background-position: bottom center;
}

.hero__content {
  margin-top: 250px;
  max-width: 615px;
}

.hero__subtitle {
  margin-top: 20px;
  font-size: 18px;
}

.hero__btn {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 200px;
}

.approach {
  background-color: #020202;
}

.approach__title {
  margin-bottom: 30px;
  text-align: center;
}

.approach-card {
  margin: auto;
  background-color: transparent;
  max-width: 275px;
  text-align: center;
}

.approach-card__img {
  margin: auto;
  width: 71px;
}

.approach-card__body h3 {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.approach-card__body p {
  font-size: 16px;
}

/*  px */
@media screen and (max-width: 1200px) {
  .approach-card__body {
    padding: 5px;
  }
  .approach-card__body h3 {
    font-size: 20px;
  }
}

/*  px */
@media screen and (max-width: 992px) {
  .approach-card {
    margin-bottom: 20px;
  }
}

.production__title {
  margin-bottom: 50px;
  text-align: center;
  color: #000;
}

.production-box {
  display: block;
  overflow: hidden;
  text-align: center;
}

.production-box_two {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.production-box_three {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.production-box__image {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(0deg);
          filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(0deg);
}

.production-box__image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: none;
          filter: none;
}

.production-box__content {
  font-size: 20px;
  color: #000;
}

.production-btn {
  margin: 50px auto 0;
  max-width: 300px;
}

@media screen and (max-width: 992px) {
  .production-content {
    margin-bottom: 20px;
  }
}

.clients {
  background-color: #020202;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__image {
  text-align: center;
}

.clients-btn {
  margin: auto;
  margin-top: 20px;
  max-width: 190px;
}

@media screen and (max-width: 576px) {
  .clients__image {
    margin: auto;
    max-width: 240px;
  }
}

.about-us {
  margin-top: 20px;
  position: relative;
  /*герб*/
}

.about-us-bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us-content {
  padding: 100px 10px;
  color: #000;
  text-align: center;
  font-size: 25px;
  line-height: 1.1;
  border: 15px solid #ebecec;
}

.about-us-content h2 {
  margin: auto;
  max-width: 720px;
  font-size: 50px;
  font-weight: 900;
}

.about-us-content p {
  margin: 10px auto 50px;
  max-width: 520px;
}

.about-us-content span {
  display: block;
  margin: auto;
  max-width: 600px;
}

.about-us-content span a {
  text-decoration: none;
  color: #990f16;
}

@media screen and (max-width: 992px) {
  .about-us-content {
    padding: 50px 0;
  }
  .about-us h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-content {
    font-size: 20px;
  }
  .about-us h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .about-us-content {
    font-size: 20px;
  }
  .about-us h2 {
    font-size: 25px;
  }
}

.footer {
  background-color: #020202;
}

.footer-navbar-nav {
  width: 95px;
  font-size: 15px;
  margin: 0;
}

.footer-navbar-nav .footer-item-active {
  position: relative;
}

.footer-navbar-nav .footer-item-active::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ff0000;
}

.footer-navbar-nav li {
  margin-bottom: 20px;
}

.footer-navbar-nav li .footer-nav-link {
  text-transform: capitalize;
}

.footer-navbar-nav li .footer-nav-link::after {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #ff0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-navbar-nav li .footer-nav-link:hover::after {
  width: 100%;
}

.footer-form {
  padding: 8px 50px 0 90px;
}

.footer-form__title {
  margin-bottom: 20px;
}

.footer-form__btn {
  background-color: #990f16;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.footer-form__btn:hover {
  background-color: #820d13;
}

.footer-info {
  padding-left: 50px;
}

.footer-logo {
  margin-bottom: 25px;
  width: 155px;
}

.footer-contacts__adress {
  font-size: 16px;
}

.footer-contacts__tel {
  font-size: 20px;
}

.footer-down {
  margin-top: 80px;
  border-top: 1px solid #fff;
  color: #636363;
  font-size: 16px;
}

.footer-down__item {
  margin-top: 40px;
}

@media screen and (max-width: 992px) {
  .footer-navbar {
    display: none;
  }
  .footer-form {
    padding: 8px 0;
  }
  .footer-info {
    padding-left: 20px;
  }
  .footer-contacts__adress {
    font-size: 14px;
  }
  .footer-contacts__tel {
    font-size: 16px;
  }
  .footer-down {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-form__title {
    text-align: center;
  }
  .footer-info {
    padding-left: 0;
    text-align: center;
  }
  .footer-logo {
    margin: 20px auto;
  }
  .footer-down {
    margin-top: 40px;
  }
  .footer-down__item {
    margin-top: 20px;
  }
}

/*Page portfolio*/
.portfolio {
  position: relative;
  background-size: cover;
  background-position: bottom center;
}

.portfolio__content {
  margin-top: 250px;
  max-width: 615px;
}

.portfolio__title {
  font-size: 33px;
}

.portfolio__btn {
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 200px;
}

.project {
  background-color: #020202;
}

.project__title {
  margin-bottom: 30px;
}

.project-box {
  margin-top: 40px;
  width: 95%;
}

.project-box__video {
  border: none;
  width: 100%;
  height: 200px;
}

.credibility {
  background-color: #020202;
}

.credibility__title {
  margin-bottom: 30px;
}

.credibility-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credibility-wrap__item {
  max-width: 160px;
}

@media screen and (max-width: 992px) {
  .credibility-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .credibility-wrap__item {
    margin-top: 20px;
    max-width: 360px;
  }
}

/*Page contacts*/
.contacts {
  position: relative;
  background-size: cover;
  background-position: top center;
}

.contacts__content {
  margin-top: 250px;
  max-width: 600px;
}

.contacts__btn {
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 200px;
}

@media screen and (max-width: 425px) {
  .contacts__title {
    font-size: 30px;
  }
}

.our-contacts {
  background-color: #020202;
}

.our-contacts__title {
  margin-bottom: 50px;
}

.our-contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.our-contacts-box img {
  margin-right: 10px;
  height: 50px;
}

.our-contacts-box address {
  margin: 0;
}

.our-contacts-box__tel a {
  display: block;
  color: #fff;
}

.our-contacts-box__email a {
  display: block;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .our-contacts__title {
    text-align: center;
  }
  .our-contacts-box {
    margin: auto;
    padding-bottom: 20px;
    max-width: 350px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .our-contacts__title {
    text-align: center;
  }
  .our-contacts__title h2 {
    font-size: 30px;
  }
}

.requisites {
  background-color: #020202;
}

.requisites__title {
  margin-bottom: 30px;
}

.requisites-content {
  font-size: 18px;
}

.requisites-content p:nth-child(1) {
  margin-bottom: 20px;
}

.requisites-content p:nth-child(7) {
  margin-bottom: 20px;
}

.requisites-content a {
  color: #990f16;
}

@media screen and (max-width: 992px) {
  .requisites__title {
    text-align: center;
  }
  .requisites-content {
    text-align: center;
  }
}

.location-map {
  height: 550px;
}

/*Page products*/
.products {
  background-color: #020202;
}

.products-categories li {
  padding: 6px 0;
  border-bottom: 1px solid #fff;
}

.products-categories li a {
  font-size: 16px;
  color: #fff;
}

/*Настройка ссылок*/
.add_menu_link {
  position: relative;
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.add_menu_link:hover {
  color: #ff0000;
}

.add_menu_w li .add_menu_link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.3em;
  margin-top: -5px;
  border: 6px solid transparent;
  border-top: 10px solid;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.add_menu_w.show li > .add_menu_link::after {
  content: "";
  position: absolute;
  top: 36%;
  right: 0.3em;
  margin-top: -5px;
  border: 6px solid transparent;
  border-bottom: 10px solid;
}

.add_menu_w.show li > .add_drop_block {
  display: block;
  opacity: 1;
  height: initial;
}

/*выпадающее меню*/
.add_drop_link {
  display: block;
  padding: 0.75em 1.25em;
  font-size: 14px;
  text-decoration: none;
  color: #ff0000;
}

.add_drop_link:hover {
  color: #cc0000;
}

.design_drop_block {
  opacity: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.show {
  opacity: 1;
  height: auto;
}
/*# sourceMappingURL=main.css.map */